{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% include 'dashboards/sidebar.html' %}

    <div class="col-md-9">
        <span>Logged in as <b>{{user}}</b></span>
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All categories</div>
                    <div class="card-body text-dark">
                        <div class="card-title text-center">{{category_count}}</div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All posts</div>
                    <div class="card-body text-dark">
                        <div class="card-title text-center">{{post_count}}</div>
                    </div>    
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}